body{
	background:#fff;
}
.file {
	margin-top:20px;
}
.file *,.file{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.file {
	position: relative;
	overflow: hidden;
}
.file input {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 35px;
	border-radius: 9px;
	padding-left: 10px;
	border: 1px solid #d9d9d9;
	opacity: 0;
}
.file-upload{
	display:inline-block;
	width:150px;
	height:80px;
	background:#eee;
	border:1px solid #ddd;
	text-align: center;
	font-size:3em;
	line-height:80px;
	color:#999;
}
.file-inner {
	position: relative;
	width: 250px;
	height: 35px;
	border: 1px solid #d9d9d9;
	border-radius: 9px;
	padding-left: 10px;
	line-height: 35px;	
	overflow: hidden;
}
.file-inner .file-inner-btn {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	border: 1px solid blue;
	box-shadow:none;
	outline: none;
	-webkit-appearance: none;
}
.btn-primary {
	color: #fff;
	background: blue;
	
}